img {
	max-width:100%;
	display:inline-block;
}

ul {list-style:none;}

.carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
          width: 33%;
          margin: auto;
        }

.h2{
  justify-content: center;
  display: flex;
}